JLink*
archive.zip
*out.txt
*.out
*.tmp
*.Sasha

sources/.vs/*
sources/Panel/Objects/*
sources/Panel/Listings/*
sources/Panel/DebugConfig/*
sources/generated/*
sources/ThirdParty/*
sources/fonts/*.bin
sources/fonts/*.tmp
